In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
bad_data = pd.read_excel('data/Australian Shark Database.xlsx')
bad_data.head(20)

,UIN,Incident.month,Incident.year,Victim.injury,State,Location,Latitude,Longitude,Site.category,Site.category.comment,...,Spring.or.neap.tide,Tidal.cycle,Wind.condition,Weather.condition,Air.temperature.°C,Personal.protective.device,Deterrent.brand.and.type,Data.source,Reference,Unnamed: 59
0,1,1,1791,fatal,NSW,near sydney,-33.866667,151.200000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"shark&survl, whitley 1958, book ref 1793",NaN
1,2,3,1803,injured,WA,"hamelin bay, faure island",-25.833333,113.883333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"balgridge,green,taylor,whitley 1940",NaN
2,3,1,1807,injured,NSW,"cockle bay, sydney harbour",-33.866667,151.200000,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,sydney gazette 18.1.1807,NaN
3,4,1,1820,fatal,TAS,"sweetwater point, pitt water",-42.8,147.533333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,witness account,"shark&survl, c. black researcher",NaN
4,5,1,1825,injured,NSW,"kirribili point, sydney harbour",-33.85,151.216667,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,maitland daily mercury 13.11.1899,NaN
5,6,1,1830,injured,TAS,bruny island,-43.283333,147.333333,island open ocean,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,the mercury 7.3.1923,NaN
6,7,1,1832,injured,NSW,"blackwattle bay, glebe, sydney harbour",-33.866667,151.183333,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,smh 23.1.1832,NaN
7,8,6,1832,injured,NSW,"south head, sydney harbour",-33.833333,151.266667,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,sydney herald 11.6.1832,NaN
8,9,1,1836,injured,SA,holdfast bay,-34.95,138.500000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,sharpe date?,NaN
9,10,8,1836,fatal,QLD,fraser island,-25.483333,152.983333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"shipwrecks, evan mchugh",NaN
10,11,8,1836,fatal,QLD,fraser island,-25.483333,152.983333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"shipwrecks, evan mchugh",NaN
11,12,1,1837,fatal,NSW,macleay river,-30.933333,153.016667,river,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,"green,baldridge, colonial times 14.2.1837",NaN
12,13,8,1839,fatal,VIC,"sealer's cove, wilson's promontory",-38.983333,146.450000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,colonial times 20.8.1839,NaN
13,14,12,1840,fatal,NSW,"wooloomooloo bay, sydney harbour",-33.85,151.216667,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,cairns post 13.2.1919,NaN
14,15,4,1841,fatal,NSW,"cockatoo island, sydney harbour",-33.833333,151.166667,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,the sydney herald 27.4.1841,NaN
15,16,3,1847,injured,QLD,moreton bay,-27.25,153.250000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,"green, whitley 1958, the queenslander 12.3.1921",NaN
16,17,11,1847,injured,QLD,brisbane river,-27.433333,153.083333,river,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,"morton bay courrier 4.12.1847, maitland mercur...",NaN
17,18,1,1849,fatal,WA,"quindalup, busselton",-33.366667,115.283333,ocean/pelagic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,bunbury herald 7.6.1849,NaN
18,19,12,1849,injured,VIC,portland,-38.333333,141.600000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,portland guardian 1.12.1874,NaN
19,20,12,1849,fatal,NSW,"woolloomooloo bay, sydney harbour",-33.816667,151.200000,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,smh 3.12.1849,NaN

In [3]:
bad_data.shape

(1196, 60)

In [4]:
bad_data.State.unique()

array(['NSW', 'WA', 'TAS', 'SA', 'QLD', 'VIC', 'NT'], dtype=object)

In [5]:
from bs4 import BeautifulSoup as soup
import requests

r = requests.get("https://kb.bullseyelocations.com/article/42-australia-state-codes")

bs = soup(r.content, 'html')
table = bs.find_all('table')[0]
table

<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Droid Sans', sans-serif; margin-top: 10px; margin-bottom: 10px;" width="470">
<tbody>
<tr>
<td style="padding-right: 9px; padding-left: 9px;"> <strong>State</strong> </td>
<td style="padding-right: 9px; padding-left: 9px;"> <strong>Abbreviation</strong> </td>
<td style="padding-right: 9px; padding-left: 9px;"> <strong>Alternate Abbreviation</strong> </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px; "> New South Wales </td>
<td class="current" style="padding-right: 9px; padding-left: 9px;"> NSW </td>
<td style="padding-right: 9px; padding-left: 9px;;"> NS </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px;"> Northern Territory </td>
<td style="padding-right: 9px; padding-left: 9px;\"> NT </td>
<td style="padding-right: 9px; padding-left: 9px;\"> </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px;\"> Queensland </td>
<td style="padding-right: 9px; padding-left: 9px;\"> Qld </td>
<td style="padding-right: 9px; padding-left: 9px;"> QL </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px; "> South Australia </td>
<td style="padding-right: 9px; padding-left: 9px;"> SA </td>
<td style="padding-right: 9px; padding-left: 9px;"> </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px;"> Tasmania </td>
<td style="padding-right: 9px; padding-left: 9px;"> Tas </td>
<td style="padding-right: 9px; padding-left: 9px;"> TS </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px;"> Victoria </td>
<td style="padding-right: 9px; padding-left: 9px;"> Vic </td>
<td style="padding-right: 9px; padding-left: 9px;"> VI </td>
</tr>
<tr>
<td style="padding-right: 9px; padding-left: 9px;"> Western Australia </td>
<td style="padding-right: 9px; padding-left: 9px;"> WA </td>
<td style="padding-right: 9px; padding-left: 9px; "> </td>
</tr>
</tbody>
</table>

In [6]:
df = pd.read_html(str(table),header=0)[0]
df

                State Abbreviation Alternate Abbreviation
0     New South Wales          NSW                     NS
1  Northern Territory           NT                    NaN
2          Queensland          Qld                     QL
3     South Australia           SA                    NaN
4            Tasmania          Tas                     TS
5            Victoria          Vic                     VI
6   Western Australia           WA                    NaN

In [7]:
df_copy = df.copy()
df_copy.Abbreviation = df_copy.Abbreviation.str.upper()
df_copy = df_copy[['State', 'Abbreviation']]
df_copy.rename(columns={'Abbreviation':'state_code'}, inplace=True)
df_copy

                State state_code
0     New South Wales        NSW
1  Northern Territory         NT
2          Queensland        QLD
3     South Australia         SA
4            Tasmania        TAS
5            Victoria        VIC
6   Western Australia         WA

In [8]:
bad_data.rename(columns={'State': 'state_code'}, inplace=True)
bad_data

,UIN,Incident.month,Incident.year,Victim.injury,state_code,Location,Latitude,Longitude,Site.category,Site.category.comment,...,Spring.or.neap.tide,Tidal.cycle,Wind.condition,Weather.condition,Air.temperature.°C,Personal.protective.device,Deterrent.brand.and.type,Data.source,Reference,Unnamed: 59
0,1,1,1791,fatal,NSW,near sydney,-33.866667,151.200000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"shark&survl, whitley 1958, book ref 1793",NaN
1,2,3,1803,injured,WA,"hamelin bay, faure island",-25.833333,113.883333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"balgridge,green,taylor,whitley 1940",NaN
2,3,1,1807,injured,NSW,"cockle bay, sydney harbour",-33.866667,151.200000,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,sydney gazette 18.1.1807,NaN
3,4,1,1820,fatal,TAS,"sweetwater point, pitt water",-42.8,147.533333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,witness account,"shark&survl, c. black researcher",NaN
4,5,1,1825,injured,NSW,"kirribili point, sydney harbour",-33.85,151.216667,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,maitland daily mercury 13.11.1899,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,1192,2,2022,injured,QLD,"Redcliffe, Brisbane",-27.2333,153.266663,ocean/pelagic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,1193,2,2022,injured,WA,"wylie bay, esperance",-33.84848,121.918360,coastal,bay to open ocean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.dailymail.co.uk/news/article-10483...,NaN
1193,1194,2,2022,injured,NSW,"shelley beach, manly",-33.8006,151.298200,coastal,bay to open ocean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,1195,3,2022,injured,NSW,crowdy head beach,-32,152.751200,coastal,surf beach,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1195,1196,3,2022,uninjured,NSW,"maroubra beach, sydney",-33.9516,151.260300,coastal,surf beach,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,other questionnaire (DPI),NaN,NaN

In [9]:
bad_data_mod = pd.merge(left=bad_data, right=df_copy, left_on='state_code', right_on='state_code')
bad_data_mod

,UIN,Incident.month,Incident.year,Victim.injury,state_code,Location,Latitude,Longitude,Site.category,Site.category.comment,...,Tidal.cycle,Wind.condition,Weather.condition,Air.temperature.°C,Personal.protective.device,Deterrent.brand.and.type,Data.source,Reference,Unnamed: 59,State
0,1,1,1791,fatal,NSW,near sydney,-33.866667,151.200000,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,book,"shark&survl, whitley 1958, book ref 1793",NaN,New South Wales
1,3,1,1807,injured,NSW,"cockle bay, sydney harbour",-33.866667,151.200000,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,sydney gazette 18.1.1807,NaN,New South Wales
2,5,1,1825,injured,NSW,"kirribili point, sydney harbour",-33.85,151.216667,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,maitland daily mercury 13.11.1899,NaN,New South Wales
3,7,1,1832,injured,NSW,"blackwattle bay, glebe, sydney harbour",-33.866667,151.183333,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,smh 23.1.1832,NaN,New South Wales
4,8,6,1832,injured,NSW,"south head, sydney harbour",-33.833333,151.266667,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,sydney herald 11.6.1832,NaN,New South Wales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,781,7,2003,uninjured,NT,"nhulunbuy, bremmer island",-12.183333,136.766667,island open ocean,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,news.com.au article,NaN,Northern Territory
1192,815,4,2005,injured,NT,"nhulunbuy, bremmer island",-12.116667,136.800000,island open ocean,NaN,...,NaN,NaN,NaN,NaN,speargun,NaN,media outlet,"per. comm. 19.4.05, northern territory news 20...",NaN,Northern Territory
1193,1092,9,2018,injured,NT,"groote eylandt, arnhem land (east)",-13.97,136.593300,island open ocean,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.katherinetimes.com.au/story/567594...,NaN,Northern Territory
1194,1099,11,2018,injured,NT,nhulunbuy,-12.1825,136.781900,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.abc.net.au/news/2018-11-18/teenage...,NaN,Northern Territory
1195,1106,2,2019,injured,NT,umbakumba - 12 km out to sea,-13.8611,136.811600,ocean/pelagic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.abc.net.au/news/2019-02-11/spearfi...,NaN,Northern Territory

In [10]:
interested_columns = ['Incident.month', 'Incident.year', 'Victim.injury', 'State', 'Location', 'Shark.common.name',
                      'Provoked/unprovoked', 'Victim.activity', 'Victim.gender', 'Shark.behaviour',
                      'Injury.location', 'Victim.age']
good_data = bad_data_mod[interested_columns]
good_data

,Incident.month,Incident.year,Victim.injury,State,Location,Shark.common.name,Provoked/unprovoked,Victim.activity,Victim.gender,Shark.behaviour,Injury.location,Victim.age
0,1,1791,fatal,New South Wales,near sydney,white shark,unprovoked,swimming,female,NaN,torso,NaN
1,1,1807,injured,New South Wales,"cockle bay, sydney harbour",bull shark,unprovoked,swimming,male,bit victim on wrist,"arm, hand",NaN
2,1,1825,injured,New South Wales,"kirribili point, sydney harbour",bull shark,unprovoked,swimming,male,bit legs,leg,15.0
3,1,1832,injured,New South Wales,"blackwattle bay, glebe, sydney harbour",bull shark,provoked,swimming,male,bit victim on leg,leg,NaN
4,6,1832,injured,New South Wales,"south head, sydney harbour",white shark,provoked,fishing,female,bit victim on leg,leg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1191,7,2003,uninjured,Northern Territory,"nhulunbuy, bremmer island",tiger shark,unprovoked,unmotorised boating,male,bit kayak,other: uninjured,37.0
1192,4,2005,injured,Northern Territory,"nhulunbuy, bremmer island",whaler shark,provoked,spearfishing,male,bit victim on head,head,20.0
1193,9,2018,injured,Northern Territory,"groote eylandt, arnhem land (east)",bull shark,unprovoked,NaN,male,NaN,NaN,17.0
1194,11,2018,injured,Northern Territory,nhulunbuy,whaler shark,provoked,spearfishing,male,NaN,"arm, leg",17.0
1195,2,2019,injured,Northern Territory,umbakumba - 12 km out to sea,whitetip reef shark,provoked,NaN,NaN,NaN,NaN,NaN

In [11]:
good_cols = list(good_data.columns)
new_cols = [x.lower().replace('.', '_') for x in good_cols]
new_cols

['incident_month',
 'incident_year',
 'victim_injury',
 'state',
 'location',
 'shark_common_name',
 'provoked/unprovoked',
 'victim_activity',
 'victim_gender',
 'shark_behaviour',
 'injury_location',
 'victim_age']

In [12]:
new_col_dict = dict(zip(good_cols, new_cols))
new_col_dict

{'Incident.month': 'incident_month',
 'Incident.year': 'incident_year',
 'Victim.injury': 'victim_injury',
 'State': 'state',
 'Location': 'location',
 'Shark.common.name': 'shark_common_name',
 'Provoked/unprovoked': 'provoked/unprovoked',
 'Victim.activity': 'victim_activity',
 'Victim.gender': 'victim_gender',
 'Shark.behaviour': 'shark_behaviour',
 'Injury.location': 'injury_location',
 'Victim.age': 'victim_age'}

In [13]:
good_data.rename(columns=new_col_dict, inplace=True)
good_data.columns

Index(['incident_month', 'incident_year', 'victim_injury', 'state', 'location',
       'shark_common_name', 'provoked/unprovoked', 'victim_activity',
       'victim_gender', 'shark_behaviour', 'injury_location', 'victim_age'],
      dtype='object')

In [14]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
          'October', 'November', 'December']
months_in_num = list(range(1, 13))

month_map = dict(zip(months_in_num, months))
month_map

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [15]:
good_data['incident_month'] = good_data['incident_month'].map(month_map)
good_data

,incident_month,incident_year,victim_injury,state,location,shark_common_name,provoked/unprovoked,victim_activity,victim_gender,shark_behaviour,injury_location,victim_age
0,January,1791,fatal,New South Wales,near sydney,white shark,unprovoked,swimming,female,NaN,torso,NaN
1,January,1807,injured,New South Wales,"cockle bay, sydney harbour",bull shark,unprovoked,swimming,male,bit victim on wrist,"arm, hand",NaN
2,January,1825,injured,New South Wales,"kirribili point, sydney harbour",bull shark,unprovoked,swimming,male,bit legs,leg,15.0
3,January,1832,injured,New South Wales,"blackwattle bay, glebe, sydney harbour",bull shark,provoked,swimming,male,bit victim on leg,leg,NaN
4,June,1832,injured,New South Wales,"south head, sydney harbour",white shark,provoked,fishing,female,bit victim on leg,leg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1191,July,2003,uninjured,Northern Territory,"nhulunbuy, bremmer island",tiger shark,unprovoked,unmotorised boating,male,bit kayak,other: uninjured,37.0
1192,April,2005,injured,Northern Territory,"nhulunbuy, bremmer island",whaler shark,provoked,spearfishing,male,bit victim on head,head,20.0
1193,September,2018,injured,Northern Territory,"groote eylandt, arnhem land (east)",bull shark,unprovoked,NaN,male,NaN,NaN,17.0
1194,November,2018,injured,Northern Territory,nhulunbuy,whaler shark,provoked,spearfishing,male,NaN,"arm, leg",17.0
1195,February,2019,injured,Northern Territory,umbakumba - 12 km out to sea,whitetip reef shark,provoked,NaN,NaN,NaN,NaN,NaN

In [16]:
good_data.to_feather("Australian Shark Database.feather")

In [17]:
feather_df = pd.read_feather("Australian Shark Database.feather")
feather_df

,incident_month,incident_year,victim_injury,state,location,shark_common_name,provoked/unprovoked,victim_activity,victim_gender,shark_behaviour,injury_location,victim_age
0,January,1791,fatal,New South Wales,near sydney,white shark,unprovoked,swimming,female,None,torso,NaN
1,January,1807,injured,New South Wales,"cockle bay, sydney harbour",bull shark,unprovoked,swimming,male,bit victim on wrist,"arm, hand",NaN
2,January,1825,injured,New South Wales,"kirribili point, sydney harbour",bull shark,unprovoked,swimming,male,bit legs,leg,15.0
3,January,1832,injured,New South Wales,"blackwattle bay, glebe, sydney harbour",bull shark,provoked,swimming,male,bit victim on leg,leg,NaN
4,June,1832,injured,New South Wales,"south head, sydney harbour",white shark,provoked,fishing,female,bit victim on leg,leg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1191,July,2003,uninjured,Northern Territory,"nhulunbuy, bremmer island",tiger shark,unprovoked,unmotorised boating,male,bit kayak,other: uninjured,37.0
1192,April,2005,injured,Northern Territory,"nhulunbuy, bremmer island",whaler shark,provoked,spearfishing,male,bit victim on head,head,20.0
1193,September,2018,injured,Northern Territory,"groote eylandt, arnhem land (east)",bull shark,unprovoked,None,male,None,None,17.0
1194,November,2018,injured,Northern Territory,nhulunbuy,whaler shark,provoked,spearfishing,male,None,"arm, leg",17.0
1195,February,2019,injured,Northern Territory,umbakumba - 12 km out to sea,whitetip reef shark,provoked,None,None,None,None,NaN

In [18]:
feather_df.victim_activity.value_counts()

swimming                    452
boarding                    284
snorkelling                 127
spearfishing                118
diving                       93
fishing                      37
unmotorised boating          31
other: standing in water     25
motorised boating             2
other:floating                2
Name: victim_activity, dtype: int64

In [19]:
feather_df.describe()

       incident_year  victim_age
count    1196.000000  699.000000
mean     1966.895485   28.164521
std        48.260971   13.794858
min      1791.000000    0.000000
25%      1931.000000   17.000000
50%      1983.000000   25.000000
75%      2010.000000   36.000000
max      2022.000000   84.000000

From the above result, we can easily say that

In [20]:
feather_df.describe(include='object')

,incident_month,victim_injury,state,location,shark_common_name,provoked/unprovoked,victim_activity,victim_gender,shark_behaviour,injury_location
count,1196,1196,1196,1193,1144,1192,1171,1179,980,1066
unique,12,4,7,909,22,2,10,2,271,63
top,January,injured,New South Wales,"thursday island, torre strait",white shark,unprovoked,swimming,male,bit victim on leg,leg
freq,223,722,438,20,361,794,452,1062,241,213